<h1>Editar Examen</h1>
 
<%= render 'form' %>
 
<% if check_admin %>
		<p>	<%= link_to 'Atrás', exams_path %> </p>
		<% if @examDefinition.errors.any? %>
		<ul>
			<% for message_error in @examDefinition.errors.full_messages %>
			<li>- <%= message_error %></li>
			<% end %>
		</ul>
	<% end %>

<% end %>
