<h3>Detalle de lenguaje</h3>

<p>
  <h5>Nombre de lenguaje:</h5>
  <%= @language.name %>
</p>

<hr/>
<%= link_to 'Editar', edit_language_path(@language) %> |
<%= link_to 'Regresar', languages_path %>
