@import 'bootstrap';
body { padding-top: 60px;}
@import "bootstrap-responsive";

.icon-home {
  margin-left: 5px;
  vertical-align: middle;
}

.navbar {
	.pull-right {
		margin-top: 10px;
	}
}

.banner{
	text-align: center;
	background-color: #46ADA8;
	margin-bottom: 20px;
}

.nav-tabs {
	border-top: 1px solid #ddd !important;
	background: #F8F8F8;
}

.nav-tabs li:first-child {

	border-right: 2px solid #ddd !important;

}